.imgCont{
    width: 100%;
    height: 50%;}

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
   
}

.productContainer{

    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 480px;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: transform 2.5s ease ;

   
}

.itemContainer:hover{
  transform: scale(1.1);

}
